*
{
	box-sizing: border-box;
}

body
{
	font-family: Bahnschrift;
	background-color: #e6e6ff;
	margin: 10px 20px 10px 50px;
}

.topbar
{
	background-color: #e6e6ff;
	margin-top: -10px;
	height: 20px;
	width: 100%;
	position: sticky;
	top: 0;
}

.head
{
	width: 95%;
	height: 100px;
	border: 2px solid powderblue;
	position: fixed;
	background-color: #d3d3f0;
}

.head h2
{
	padding-left: 25px;
	font-size: 2.5em;
	letter-spacing: 0.3em;
	color: #b4b4e4;
	display: inline;
}

.head p
{
	padding-left: 40px;
}

aside
{
	float: left;
	position: fixed;
	margin-top: 100px;
}

aside ul
{
	list-style-type: none;
	padding: 5px;
}

aside ul li, button
{
	border: 1px solid rgb(176,176,216);
	border-radius: 5px;
	
	padding: 10px 0 10px 0;
	
	text-align: center;
	background-color: rgb(205, 205, 230);
	width: 150px;
}

button
{
	color: rgb(120, 120, 190);
}

button:hover
{
	border: 1px solid rgb(76, 76, 116);
	background-color: rgb(100, 100, 115);
	color: white;
	cursor: pointer;
}

a
{
	text-decoration-line: none;
}

a:visited
{
	color: rgb(120, 120, 190)
}


main
{
	margin: 120px 70px 70px 70px;
	padding-left: 100px;
}

.gallery a:hover
{
	opacity: 55%;
}

.imgtext
{
	position: absolute;
	top: 25%;
	left: 40%;
	font-size: 22px;
	color: #000000;
	opacity: 0;
}

.gallery a:hover .imgtext
{
	opacity: 1;
}


.flexbox
{
	display: flex;
}

.cell
{
	padding-right: 10px;
}

.cell a:hover
{
	font-weight: 800;
	color: rgb(100, 100, 255);
}

.box
{
	width: 45%;
	height: 100%;	  
	flex-direction: column;
}

.video
{
	width: 100%;
	height: 100%;
	resize: both;
	overflow: auto;
}

iframe
{
	width: 90%;
	height: 90%;
}

footer
{
	width: 99%;
	bottom: 0;
	height: 40px;
	position: fixed;
	background-color: #e6e6ff;
}

.bar
{
	width: 95%;
	bottom: 10;
	height:30px;
	background-color:#666699;
	opacity:15%;
	position: fixed;
}